@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Sans:wght@100&family=Quicksand:wght@300&display=swap');

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
    font-weight: 100;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h3 {
    font-size: 36px;
    font-family:"Josefin Sans";
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h5 {
    font-family:"Josefin Sans";
}

h6 {
    font-weight: 600;
    font-size: 12px;
    font-family: "Josefin Sans"
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    background-color:#f4f4f4;
}

bg-color

/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 80px;
    box-shadow: 0 5px 15 px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: fixed;
    top: 10;
    left: 0;
    bottom: 0;
}
 
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: sticky;
}

#navbar li a{
    text-decoration: none;
    font-size: 16 px;
    font-weight: 500;
    color: #1a1a1a;
    font-family: "Quicksand";
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #0999b0;  
} 

#navbar li a.active::after,
    #navbar li a:hover::after {
    content: "";
    width:30%;
    height: 2px;
    background: #0999b0;
    position: absolute;
    bottom: -4px;
    left: 20px;
 }

 .logo {
    position: absolute;
    top:0; 
	left:0;
    padding: 30px;
 }

#featured-blogs a{
    text-decoration: none;
    color: #000000;
    font-family: "Quicksand";
    font-size: 20;
}

#featured-blogs a:hover 
{ color: #cdcdcd;}

.container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows:100px 300px;
    grid-gap:10px;
    grid-auto-flow: dense;
}

.gallery-item{
    width:100%;
    height:100%;
    position:relative;
}

.gallery-item .image{
    width:100%;
    height:100%;
    overflow:hidden;
}

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.5s ease-in-out;
}
.gallery-item:hover .image img{
    transform:scale(1.1);
}

.gallery-item .text{
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#000000;
    font-size:20px;
    z-index:4;
    font-family: "Quicksand";
    transition: .4s ease-in-out;
    -webkit-backdrop-filter: blur(1px) saturate(1.8);
    backdrop-filter: blur(1px) saturate(1.8);
}

.gallery-item:hover .text{
    opacity:1;
    animation: move-down .1s linear;
    padding:1em;
    width:100%;
    color: #cdcdcd;
}


.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}
.w-4{
    grid-column: span 4;
}
.w-5{
    grid-column: span 5;
}
.w-6{
    grid-column: span 6;
}

.h-1{
    grid-row: span 1;
}
.h-2{
    grid-row: span 2;
}
.h-3{
    grid-row: span 3;
}
.h-4{
    grid-row: span 4;
}
.h-5{
    grid-row: span 5;
}
.h-6{
    grid-row: span 6;
}




@media screen and (max-width:500px){
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
        grid-column:span 1;
    }
}


@keyframes move-down{

    0%{
        top:10%;
    }
    50%{
        top:35%;
    }
    100%{
        top:50%;
    }
}
/*Login Form*/
.form-container {
    --color-primary-dark: #90b9b1;
    --color-primary: #9dbab4;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: center;
}
/* Set a style for login button */
.loginbutton {
    padding: 0.5rem 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: "Quicksand";
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-align: justify;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: none;
    cursor: pointer;
    background: #9dbab4;;
  }

.loginbutton:hover {
    opacity: 0.8;
    background: #90b9b1;
  }

.form-container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    cursor: context-menu;
}

.form-container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Josefin Sans";
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

